<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/index.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <title>login</title>
  </head>
  <body>
    <header>
      <nav class="non-selectable">
        <div class="title">
          <div class="imgint">
            <img src="https://placeimg.com/100/100/tech" alt="" />
          </div>
          <div class="institution">Ciencias informaticas</div>
        </div>

        <div class="items">
          <div class="home">Preguntas</div>

          <div class="areas">Areas</div>
          <div class="rankin">Ranking</div>
        </div>

        <div class="user">
          <div class="imguser">
            <img src="https://placeimg.com/50/50/people" alt="" />
          </div>
          <div class="name">
            <div class="state"></div>
            <div class="nameuser">Otivek</div>
            <div class="arrow"></div>
          </div>
        </div>
      </nav>
      <div class="otp non-selectable">
        <div class="container">
          <div class="profile">perfil</div>
          <div class="oscuro">
            <div>modo oscuro</div>
            <div class="btnToggel"></div>
          </div>
          <div class="logout">
            cerrar sesión
            <div class="sure">
              <div>estas seguro ?</div>
              <div class="conf">
                <div class="no">no</div>
                <div class="yes">si</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <aside class="doQuestion">
        <div>
          <input type="text" name="" id="" placeholder="haz una pregunta" />
          <div class="area">
            <label for="">selecciona area/s del conocimiento</label>
            <div class="arrow"></div>
          </div>
        </div>
      </aside>
      <aside id="preguntas">
        <div class="containerAsk">
          <div class="top">
            <div class="infoU">info de user</div>
            <div class="ask">que es la vida como tal?</div>
          </div>
          <div class="bot">
            <div class="coments">
              la vida es hermosa y hay que disfrutarla no te questiones mas
            </div>
          </div>
        </div>
      </aside>
    </main>

    <script src="./js/index.js" type="module"></script>
  </body>
</html>
